/* @media (max-width: 1024px) {
    .flex {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  
    .chatSession {
      width: 100%;
      height: 50vh;
    }
  
    .chatBox {
      width: 100%;
      height: 50vh;
    }
  
    .heading {
      height: 8vw;
    }
  }
   */